@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#p-blue-1 {
    color: blue;
    font-size: medium;
    text-align: center;
}

.p-red {
    color: red;
}

#b-1 {
    display: block;
    padding: 30px; /*padding is the space between content to border*/
    margin: auto; /*margin is the space outside of border*/
    border: 10px solid black; /*margin-border-padding-content*/
    transform: scale(1);
    transform: rotate(360);
    transform: translate(0px, 0px); /*Offset by (x,y) coordinates*/
    transition: 0.4s; /*smoothen transition*/
    animation: fade-in 1s; /*animation with keyframes*/
}

#b-1:hover {
    transform: scale(2);
    cursor: pointer;
}

img {
    display: block; /*Make it a block which brings it over to next line*/
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    /* opacity: 0;
    z-index: -50; */
}


/* Intermediate CSS */

.intermediate-css {
    margin-top: 20px;
}

.flexbox {
    height: 300px;
    width: 600px;
    background-color: grey;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    position: relative; /*relative set it as a reference point*/
}

.box {
    height: 50px;
    width: 50px;
    background-color: yellow;
    text-align: center;
}

.box:nth-child(1) {
    background-color: var(--accent);

    position: absolute; /*absolute set an exact position independent of layout*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /*Offset it to center*/
}

:root {
    --accent: #0fddad; /*Creating global variables to be used by var(--name)*/
}

.flexbox-title::after {
    content: '';
    height: 5px;
    width: 75px;
    background-color: darkgoldenrod;
    display: block;
}